name: Generate Manifest

on:
  push:
    paths:
      - '**/*.ebuild'
      - '**/metadata.xml'
      - '**/profiles/**'
  workflow_run:
    workflows: ["Get External Packages"]
    types:
      - completed
  workflow_dispatch: 

permissions:
  contents: write

jobs:
  manifest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Generate Manifests
        run: |
          sudo docker run --rm -v $PWD:/overlay magmaskv/gentoo-with-git:latest \
            bash -c "cd /overlay && find . -name '*.ebuild' -exec ebuild {} manifest \;"

      - name: Commit Manifest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config --global user.name "Generate Manifest"
          git config --global user.email "generate-manifest@users.noreply.github.com"
          git add -A
          git commit -m "Update Manifest" || echo "No changes"
          git push origin HEAD:${{ github.ref_name }}
